<!doctype html>
<html lang="en">

<head th:replace="fragments/base.html :: headBase"></head>

<head>
	<title>Rec. Studio - Nuova Slot</title>
</head>

<body style="background-color: black;">
	<div th:replace="fragments/base.html :: intestazione">Fragment intestazione</div>

	<div class="container-sm" style="margin-top: 10%; margin-bottom: 10%; max-width: 200px">
		<form th:action="@{/creaSlot}" method="POST">
			<h2 style="color: white;">Crea nuova slot di prenotazione</h2>
			<input type="datetime-local" name="orario" th:value="${orario}" style="margin-bottom: 10px;">
			<!--
			<div class="mb-3">
				<label for="selectAnno" class="form-label" style="color: white;">Anno</label>
				<select class="form-select" aria-label="selectAnno">
					<option value="2021">2021</option>
					<option value="2022">2022</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="selectMese" class="form-label" style="color: white;">Mese</label>
				<select class="form-select" aria-label="selectMese">
					<option value="01">Gennaio</option>
					<option value="02">Febbraio</option>
					<option value="03">Marzo</option>
					<option value="04">Aprile</option>
					<option value="05">Maggio</option>
					<option value="06">Giugno</option>
					<option value="07">Luglio</option>
					<option value="08">Agosto</option>
					<option value="09">Settembre</option>
					<option value="10">Ottobre</option>
					<option value="11">Novembre</option>
					<option value="12">Dicembre</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="selectGiorno" class="form-label" style="color: white;">Giorno</label>
				<select class="form-select" aria-label="selectGiorno">
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="selectOra" class="form-label" style="color: white;">Ora</label>
				<select class="form-select" aria-label="selectOra">
					<option value="10">10:00</option>
					<option value="16">16:00</option>
				</select>
			</div>
			-->
			<button type="submit" class="btn btn-primary">Crea slot</button>
		</form>

	</div>

	<div th:replace="fragments/base.html :: fondoPagina"></div>

	<div th:replace="fragments/base.html :: scriptBootstrap"></div>

</body>

</html>