<!doctype html>
<html lang="en">

<head th:replace="fragments/base.html :: headBase"></head>

<head>
	<title>Rec. Studio - Modifica Info</title>
</head>

<body style="background-color: black;">
	<div th:replace="fragments/base.html :: intestazione">Fragment intestazione</div>

	<div class="container-lg" style="margin-top: 10%; margin-bottom: 10%; max-width: 400px">
		<form th:action="@{/confermaModificaInfo}" method="POST" th:object="${utente}">
			<h2 style="color: white;">Modifica le tue informazioni personali</h2>
			
			<div class="mb-3">
				<label for="inputNomeArte" class="form-label" style="color: white;">Nome d'arte</label>
				<input th:field="*{nomeArte}" th:value="*{nomeArte}" name="nomeArte" type="text"  class="form-control"
					id="inputNomeArte" aria-describedby="emailHelp">
				<div th:if="${#fields.hasErrors('nomeArte')}" 
					th:errors="*{nomeArte}" th:style="'color:red'"></div>
			</div>
			
			<div class="mb-3">
				<label for="inputDataDiNascita" class="form-label" style="color: white;">Data di nascita</label>
				<input type="date" name="dataDiNascita" th:field="*{dataDiNascita}" style="margin-bottom: 10px;"  id="inputDataDiNascita" class="form-control">
				<div th:if="${#fields.hasErrors('dataDiNascita')}" 
					th:errors="${dataDiNascita}" th:style="'color:red'"></div>
			</div>
			<div class="mb-3">
				<label for="inputIndirizzo" class="form-label" style="color: white;">Indirizzo</label>
				<input th:field="*{indirizzo}" th:value="*{indirizzo}" name="indirizzo" type="text"  class="form-control"
					id="inputIndirizzo">
				<div th:if="${#fields.hasErrors('indirizzo')}"
                th:errors="*{indirizzo}" th:style="'color:red'"></div>
			</div>
			<div class="mb-3">
				<label for="inputEmail" class="form-label" style="color: white;">Email</label>
				<input th:field="*{email}" th:value="*{email}" name="email" type="text"  class="form-control"
					id="inputEmail">
				<div th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}" th:style="'color:red'"></div>
			</div>
			
			<button type="submit" class="btn btn-primary">Conferma</button>

		</form>

	</div>

	<div th:replace="fragments/base.html :: fondoPagina"></div>

	<div th:replace="fragments/base.html :: scriptBootstrap"></div>

</body>

</html>